body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    width: 175px;
    height: 175px;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    size: 18px;
}

#stock {
    width: 700px;
    height: 300px;
}

.logo {
    color: #e5e7eb;
    size: 18px;
    font-weight: 900;
}

.header {
    background-color: #1f2937;
    padding: 18px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.links {
    display: flex;
    gap: 10px;
}

.containerone {
    margin: 0;
    padding: 100px;
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    gap: 16px;
}

.awesome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.awesome.secondary {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
}

.button {
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 8px 20px;
}

.containertwo {
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.list {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.pic {
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.info {
    max-width: 200px;
}

.text {
    font-size: 14px;
}

.containerthree {
    background-color: #e5e7eb;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.author {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    margin: 0;
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

