* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 100px;
    height: 100px;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    size: 18px;
}

.logo {
    color: #e5e7eb;
    size: 18px;
    font-weight: 900;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.links {
    display: flex;
    gap: 10px;
}



